section.blog
    h3.head 
        a(href="#") Blog
    ul
        li
            img(src="img/blog1.jpg", alt="Blog")
            div
                h3 Təmirə nə vaxt başlamaq lazımdı
                p Water bodies such as rivers, lakes, ponds the sea, living elements of land cover inclu. 
                a(href="#") ƏTRAFLI
        li
            img(src="img/blog2.jpg", alt="Blog")
            div
                h3 Bağ evlərinin  planlaşdırılması
                p Water bodies such as rivers, lakes, ponds the sea, living elements of land cover inclu. 
                a(href="#") ƏTRAFLI
