section.portfolio
    h3.head 
        a(href="portfolio.html") Portfolio
    ul
        li
            img(src="img/port_sl1.jpg", alt="Slider caption")
            div
                h3 
                    a(href="lahiyye.html") Bağ evinin interyeri
        li
            img(src="img/port_sl2.jpg", alt="Slider caption")
            div
                h3 
                    a(href="lahiyye.html") Bağ evinin interyeri
        li
            img(src="img/port_sl3.jpg", alt="Slider caption")
            div
                h3 
                    a(href="lahiyye.html") Bağ evinin interyeri
        li
            img(src="img/port_sl4.jpg", alt="Slider caption")
            div
                h3 
                    a(href="lahiyye.html") Bağ evinin interyeri
        li
            img(src="img/port_sl5.jpg", alt="Slider caption")
            div
                h3 
                    a(href="lahiyye.html") Bağ evinin interyeri
        li
            img(src="img/port_sl6.jpg", alt="Slider caption")
            div
                h3 
                    a(href="lahiyye.html") Bağ evinin interyeri
        li
            img(src="img/port_sl7.jpg", alt="Slider caption")
            div
                h3 
                    a(href="lahiyye.html") Bağ evinin interyeri
    .nav
        span.prev
            img(src="icons/arrow-left.svg")
        span.next
            img(src="icons/arrow-right.svg")