.slide
    ul
        li
            div(style="background-image: url(img/first_slide.jpg);")
                div
                    h2  
                        span A multitask 
                        span professiono 
                        span which creates 1
        li
            div(style="background-image: url(img/first_slide.jpg);")
                div
                    h2  
                        span A multitask 
                        span professiono 
                        span which creates 2
        li
            div(style="background-image: url(img/first_slide.jpg);")
                div
                    h2  
                        span A multitask 
                        span professiono 
                        span which creates 3
        li
            div(style="background-image: url(img/first_slide.jpg);")
                div
                    h2  
                        span A multitask 
                        span professiono 
                        span which creates 4
