.slide {
  position: relative;
  margin-bottom: 0;
  > ul:not(.slick-dots) {
    padding-left: 0;
    margin-top: 0;
    li.slick-slide {
      position: relative;
      height: calc(100vh - 99px);
      overflow: hidden;

      @include respond-to(768px) {
        height: 260px;
      }
      > div {
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        > div {
          padding-top: 15%;
          position: relative;
          z-index: 999;
          @include make-container();
          @include make-container-max-widths();
          @include respond-to(768px) {
            padding-top: 40px;
          }
          h2 {
            color: #fff;
            @include font-p(400);
            font-size: 60px;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            span {
              background: $orange;
              display: inline-block;
              opacity: 0;
              margin-top: 5px;
              padding-left: 10px;
              padding-right: 10px;
            }
            @include respond-to(768px) {
              font-size: 34px;
            }
          }
        }
      }
    }
  }

  .slick-dots {
    @extend .container;
    transform: translateY(-100px);
    z-index: 99;
    @include noList;
    padding-left: 15px;
    display: flex;
    li {
      cursor: pointer;
      margin-right: 10px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #eaeaea;
      button {
        visibility: hidden;
      }
    }
    li.slick-active {
      opacity: 1;
      background: #fff;
    }

    @include respond-to(768px) {
      transform: translateY(0px);
      justify-content: center;
      margin-top: 15px;
      li.slick-active {
        background: $orange;
      }
    }
  }
}
