main.page
    include ./page_header.pug
    include ./breadcamp.pug
    section.about
        div
            h4 Hazzimizda
            p “IS BUREAU” – mənzillərin, bağ evlərinin və ictimai yerlərin layihələndirilməsində, tikinti və dizaynında ixtisaslaşmış, Bakıda yerləşən interyer dizayn və tikinti şirkətidir. İnanırıq ki, şirkətimiz tərəfindən hazırlanan mənzillərin interyer dizaynı müştərinin hesabına öz  “fərdi” yaradıcılığın “zövg üstünlüyünün” tətbiqi deyil, qoyulmuş vəzifələrin həllidir.
            h4 İnteryer dizayn xidmətləri
            p Müştərilərimizin ehtiyacların  müxtəlif səviyyədə təmin edən iki növ dizayn layihəsini həyata keçiririk.

            p Tam dizayn layihəsi-rəsmlər və diaqram şəklində layihə sənədlərinin komplekti, bəzəmə materialları ilə mebel seçimi və əlbəttə ki, bütün otaqların görüntüsünü əks etdirən realistik 3D fotoları. Mənzilin bütün təmir-tikinti işlərinin başlanmasından əvvəl necə görünəcəyini, vaxtınızı və gücünüzü qorumaq üçün bir fikir əldə edirsiniz

            h4 Sizə aşağıdakı növ eksteryer dizayn təklif etməyə hazırıq:
            p Şirkətimizin fəaliyyəti zamanı, yaşayış komplekslərinin, sənaye və ictimai binaların ən mürəkkəb, lakin eyni zamanda ən maraqlı eksteryer dizaynı başa çatdırılmışdır.
            ul
                li Şəxsi evin, bağ evin, şəhər xarici otellərinin eksteryer dizaynı
                li Mağaza və ya ticarət mərkəzinin eksteryer dizaynı
                li Şəxsi evin, bağ evin, şəhər xarici otellərinin eksteryer dizaynı
                li Mağaza və ya ticarət mərkəzinin eksteryer dizaynı
            h4 Gələcəyə baxışımız
            p Öz təcrübəsi, toplanmış bilik və müasir texnologiyaların tətbiqi sayəsində “VIMS Group Design &amp; Construction ” tikinti və dizayn işlərinə ən əlverişli təkliflər təqdim edir. Biz iş və materialların ən yüksək keyfiyyətinə, tikinti qaydalarına, müqavilə öhdəliklərinin yerinə yetirilməsi üçün işin minimum başlanğıc və bitirilmə müddətinə ciddi riayət olunmasına zəmanət veririk.
            h4 Lisenziyalar
            p "İN/L-464/2018" qeydiyyat nömrəli lisenziya, Azərbaycan Respublikası İqtisadiyyat Nazirliyi tərəfindən "Maqnoliya 99" MMC-yə Tikintisinə icazə tələb olunan bina və qurğuların tikinti quraşdırma işlərini həyata keçirməyə icazə verir.
            
        div
            div
                div
                    img(src="img/tr.jpg", alt="trump")
            p  Əziz Dostlar! 
            p Bu gün respublikamızda sahibkarlığın inkişafı ölkə rəhbərliyi tərəfindən böyük diqqət və qayğı ilə əhatə olunub və sahibkarlara uğurlu və  səmərəli fəaliyyət göstərmək üçün dövlət tərəfindən hər cür dəstək verilir. 
            p Əminəm ki, “IS BUREAU” şirkəti tərəfindən həyata keçirilən layihələr respublikanın tikinti və dizayn sektorunun inkişafına təkan verərək müştərilərimizin və tərəfdaşlarımızın etimadını doğruldacaq.
            h3 Əliyev Fuad Abbas oğlu
            span Şirkət rəhbəri
            img(src="icons/sign.svg")

    .certificates
        ul
            li
                a(href="img/sert_1.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_1.png", alt="")
            li
                a(href="img/sert_2.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_2.png", alt="")
            li
                a(href="img/sert_1.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_1.png", alt="")
            li
                a(href="img/sert_2.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_2.png", alt="")
            li
                a(href="img/sert_1.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_1.png", alt="")
            li
                a(href="img/sert_2.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_2.png", alt="")
            li
                a(href="img/sert_1.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_1.png", alt="")
            li
                a(href="img/sert_2.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_2.png", alt="")
            li
                a(href="img/sert_1.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_1.png", alt="")
            li
                a(href="img/sert_2.png", data-fancybox="images",data-caption="My caption")  
                    img(src="img/sert_2.png", alt="")
    
