main.page
    include ./breadcamp.pug
    ul.partners
        li 
            a(href="img/partn1.png",data-fancybox)
                img(src="img/partn1.png", alt="Partner")   
        li 
            a(href="img/partn2.png",data-fancybox)
                img(src="img/partn2.png", alt="Partner")   
        li 
            a(href="img/partn1.png",data-fancybox)
                img(src="img/partn1.png", alt="Partner")   
        li 
            a(href="img/partn2.png",data-fancybox)
                img(src="img/partn2.png", alt="Partner")   
        li 
            a(href="img/partn1.png",data-fancybox)
                img(src="img/partn1.png", alt="Partner")   
        li 
            a(href="img/partn2.png",data-fancybox)
                img(src="img/partn2.png", alt="Partner")   
    