main.page
    include ./page_header.pug
    include ./breadcamp.pug
    .portfolio_gallery
        ul
            li
                img(src="img/port_sl1.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeri
          
            li
                img(src="img/port_sl3.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeri
            li
                img(src="img/port_sl4.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeri
            li
                img(src="img/port_sl5.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeri
            li
                img(src="img/port_sl6.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeri
            li
                img(src="img/port_sl7.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeripg")
            li
                img(src="img/port_sl4.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeri
            li
                img(src="img/port_sl5.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeri
            li
                img(src="img/port_sl6.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeri
            li
                img(src="img/port_sl7.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeripg
            li
                img(src="img/port_sl7.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeripg"
            li              
                img(src="img/port_sl7.jpg", alt="Slider caption")
                div
                    h3 
                        a(href="lahiyye.html") Bağ evinin interyeri
    include ./pagination.pug
 
    