include ./breadcamp.pug
.search_result
    h2 Axtarış nəticəsi
    h4 “İnteryer” sözü üçün 26 məlumat
    ul
        li
            a(href="#") <span>İnteryer</span> dizaynda abstrakt  otaqları və metrləri düşünmürük, ancaq hər bir ailə üzvünə  yataq otağında, qonaq otağında, mətbəxdə  lazım olan yerləri düşünülməlidir.
        li
            a(href="#") <span>İnteryer</span> dizaynda abstrakt  otaqları və metrləri düşünmürük, ancaq hər bir ailə üzvünə  yataq otağında, qonaq otağında, mətbəxdə  lazım olan yerləri düşünülməlidir.
        li
            a(href="#") <span>İnteryer</span> dizaynda abstrakt  otaqları və metrləri düşünmürük, ancaq hər bir ailə üzvünə  yataq otağında, qonaq otağında, mətbəxdə  lazım olan yerləri düşünülməlidir.
        li
            a(href="#") <span>İnteryer</span> dizaynda abstrakt  otaqları və metrləri düşünmürük, ancaq hər bir ailə üzvünə  yataq otağında, qonaq otağında, mətbəxdə  lazım olan yerləri düşünülməlidir.
        li
            a(href="#") <span>İnteryer</span> dizaynda abstrakt  otaqları və metrləri düşünmürük, ancaq hər bir ailə üzvünə  yataq otağında, qonaq otağında, mətbəxdə  lazım olan yerləri düşünülməlidir.
        li
            a(href="#") <span>İnteryer</span> dizaynda abstrakt  otaqları və metrləri düşünmürük, ancaq hər bir ailə üzvünə  yataq otağında, qonaq otağında, mətbəxdə  lazım olan yerləri düşünülməlidir.
        li
            a(href="#") <span>İnteryer</span> dizaynda abstrakt  otaqları və metrləri düşünmürük, ancaq hər bir ailə üzvünə  yataq otağında, qonaq otağında, mətbəxdə  lazım olan yerləri düşünülməlidir.
        li
            a(href="#") <span>İnteryer</span> dizaynda abstrakt  otaqları və metrləri düşünmürük, ancaq hər bir ailə üzvünə  yataq otağında, qonaq otağında, mətbəxdə  lazım olan yerləri düşünülməlidir.
       
include ./pagination.pug