main.page
    include ./page_header.pug
    include ./breadcamp.pug
    section.services
        ul
            li
                div
                    img(src="icons/serv_icon1.svg", alt="Service")
                    h4 
                        a(href="service.html") İnteryer dizayn
                p Emotional Glass Services For Hospitality Projects: Meaningful Enchanting Designs Glass Services!
            li
                div
                    img(src="icons/serv_icon2.svg", alt="Service")
                    h4 
                        a(href="service.html") İnteryer dizayn
                p Emotional Glass Services For Hospitality Projects: Meaningful Enchanting Designs Glass Services!
            li
                div
                    img(src="icons/serv_icon3.svg", alt="Service")
                    h4 
                        a(href="service.html") İnteryer dizayn
                p Emotional Glass Services For Hospitality Projects: Meaningful Enchanting Designs Glass Services!
            li
                div
                    img(src="icons/serv_icon4.svg", alt="Service")
                    h4 
                        a(href="service.html") İnteryer dizayn
                p Emotional Glass Services For Hospitality Projects: Meaningful Enchanting Designs Glass Services!
            li
                div
                    img(src="icons/serv_icon5.svg", alt="Service")
                    h4 
                        a(href="service.html") İnteryer dizayn
                p Emotional Glass Services For Hospitality Projects: Meaningful Enchanting Designs Glass Services!
            li
                div
                    img(src="icons/serv_icon6.svg", alt="Service")
                    h4 
                        a(href="service.html") İnteryer dizayn
                p Emotional Glass Services For Hospitality Projects: Meaningful Enchanting Designs Glass Services!
            li
                div
                    img(src="icons/serv_icon7.svg", alt="Service")
                    h4 
                        a(href="service.html") İnteryer dizayn
                p Emotional Glass Services For Hospitality Projects: Meaningful Enchanting Designs Glass Services!
            li
                div
                    img(src="icons/serv_icon8.svg", alt="Service")
                    h4 
                        a(href="service.html") İnteryer dizayn
                p Emotional Glass Services For Hospitality Projects: Meaningful Enchanting Designs Glass Services!
        
